numpy==1.26.4
git+https://github.com/openai/CLIP.git
GitPython
Pillow
ngrok
accelerate
open_clip_torch
blendmodes
clean-fid
diskcache
einops
facexlib
fastapi
gradio==3.41.2
inflection
jsonmerge
kornia
lark
omegaconf
open-clip-torch
insightface
piexif
protobuf
psutil
pytorch_lightning
requests
resize-right
safetensors
scikit-image
tomesd
torch==2.1.2
torchdiffeq
torchsde
transformers
pillow-avif-plugin
basicsr
bitsandbytes
xformers
wandb==0.15.*
pydantic<2
mediapipe #==0.10.15
ultralytics #==8.3.97
ultralytics-thop #==2.0.14
--index-url https://download.pytorch.org/whl/cu121