--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu12

numpy #==1.26.4
git+https://github.com/openai/CLIP.git
GitPython
Pillow
ngrok
accelerate
blendmodes
clean-fid
diskcache
einops
facexlib
fastapi
gradio==3.41.2
gradio_client==0.5.0
inflection
jsonmerge
kornia
lark
omegaconf
open-clip-torch
insightface
piexif
protobuf
psutil
pytorch_lightning
requests
resize-right
safetensors
scikit-image
tomesd
torch
torchdiffeq
torchsde
transformers
pillow-avif-plugin

basicsr
bitsandbytes
xformers
wandb #==0.15.12
pydantic==1.10.7
mediapipe #==0.10.15
ultralytics #==8.3.97
ultralytics-thop #==2.0.14
dctorch

dadaptation
fastapi
timm
controlnet_aux
onnxruntime
pycloudflared
pytorch_optimizer==3.4.0
discord-webhook==1.3.1