numpy==1.26.4
git+https://github.com/openai/CLIP.git
GitPython
Pillow
ngrok
accelerate
open_clip_torch
blendmodes
clean-fid
diskcache
einops
facexlib
fastapi
gradio==3.50.2
inflection
jsonmerge
kornia
lark
omegaconf
open-clip-torch
insightface
piexif
protobuf
psutil
pytorch_lightning
requests
resize-right
safetensors
scikit-image
tomesd
torch
torchdiffeq
torchsde
transformers
pillow-avif-plugin
basicsr
bitsandbytes
xformers